<section class="home__about bg-theme-v4" style="background-image: url({{ asset('images/app/bgoverlay.jpg') }}  ); margin-top: 35px">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title__leading">
                    <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                    <h2 class="text-capitalize"> ILEHYA <span style="color: #ff9f26"> PROPERTY BENIN  </span></h2>
                    <p>
                        Ilehya Property Bénin Sarl est une entreprise de construction et de promotion immobilière au capital social de 1.000.000 FCFA.
                        FCFA enregistrée sous le numéro ABC 15B640 au Gufe d’Abomey-Calavi et ayant son siège social à
                        Godomey Xlacomè, Carré S/B Maison KASSA , BP: 271 GODOMEY  république du BÉNIN en activité depuis le
                        03/03/2015.
                    </p>
                    <p>
                        Sa raison sociale est : Gestion et promotion immobilière, construction et rénovation,
                        architecture, agencement d’espace et décoration.
                    </p>
                    <p>
                        Ainsi dans cette perspective nous accompagnons nos clients dans tous processus d’acquisition de
                        biens immobiliers de toutes natures, l’administration, la gestion par bail ou autrement, la
                        disposition des biens dont il sera propriétaire par voix d’acquisition, d’échanges, location,
                        d’achats/ventes de domaines, terrains, parcelles, bâtis ou nus.
                    </p>

                    <a href="{{ path('a_propos') }}" class="btn btn-primary mt-3 text-capitalize"> en savoir plus
                        <i class="fa fa-angle-right ml-3 "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
