<section class="home__about bg-theme-v4" style="background-image: url({{ asset('images/app/bgoverlay.jpg')}} )">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title__leading">
                    <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                    <h2 class="text-capitalize"> ILEHYA <span style="color: #ff9f26"> Property </span></h2>
                    <p>
                        Expert de l’immobilier et dans la location saisonnière depuis près d’une dizaine année, ILEHYA
                        PORPERTY mets a votre disposition tout sorte de bien immobilier tel que des maisons, des
                        appartements vide/meuble sur toute l’étendue du territoire nationale et dans la sous région.
                    </p>
                    <p>
                        C'est notre site vous trouverez l'offre la plus complète de biens mis en vente ou en location :
                        maisons, appartements, terrains à bâtir, garages, bureaux, commerces, industries, maisons neuves
                        et appartements neufs, plus de 150.000 biens en vente chaque jour.
                    </p>

                    <a href="#" class="btn btn-primary mt-3 text-capitalize"> en savoir plus
                        <i class="fa fa-angle-right ml-3 "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>