<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        À VENDRE DANS LES GRANDES VILLES
                    </h2>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>