{#<section class="bg-theme-v1" style="background-image: url({{ asset('images/app/bg7.jpg') }})">#}
{#    <div class="cta">#}
{#        <div class="container" style="background-image: url({{ asset('images/app/bg7.jpg') }})">#}
{#            <div class="row d-flex justify-content-center">#}
{#                <div class="col-md-12 col-lg-12 text-center">#}
{#                    <h2 class="text-uppercase text-white">Quelle Est La Valeur De Mon Bien?</h2>#}
{#                    <p class="text-capitalize text-white"> Quelle est la valeur de mon bien?</p>#}
{#                    <a href="#" class="btn btn-primary text-uppercase ">Estimer mon bien#}
{#                        <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12 text-center">
            <img src="{{ asset('images/app/CTA/immo-1.jpg') }}" alt="" width="1200px" class="img-fluid">
        </div>
    </div>
</div>