<header>
<nav class="navbar navbar-hover navbar-expand-lg navbar-soft navbar-transparent fixed-top elle">

    <div class="container">
{% include 'FrontEnd/partials/_menu_front.html.twig' %}
    </div>
</nav>