{#<header class="header__style-one">#}
<nav class="navbar navbar-hover navbar-expand-lg navbar-soft">

    <div class="container">
{% include 'FrontEnd/partials/_menu_front.html.twig' %}
    </div>
</nav>