<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        {% if nature_annonce == 2 %}
                            Dérnières publications A louer
                        {% elseif  nature_annonce == 'Meuble' %}
                            Dérnières publications Appartements meublés
                        {% else %}
                            Dérnières publications A vendre
                        {% endif %}
                    </h2>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="recent__property-carousel owl-carousel owl-theme">
                    {% if nature_annonce == 'Meuble' %}
                        {% for bien in biens %}
                            {% if bien.ProprieteOptions.Proprietes.id == 5 %}
                                {% include "FrontEnd/partials/_item.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for bien in biens %}
                            {% if bien.typeOptions.contratypes.id == nature_annonce and bien.ProprieteOptions.Proprietes.id != 5 %}
                                {% include "FrontEnd/partials/_item.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>