<!-- Search Section Start -->
<div class="search-section section" style="margin-top: -45px">
    <div class="container">

        <div class="search-wrap mt__0">
            <div class="row">
                <div class="col text-center">
                    <h2>Trouver son appartement </h2>
                </div>
            </div>
            <form action="#">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>For Rent</option>
                            <option>For Sale</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>Location One</option>
                            <option>Location Two</option>
                            <option>Location Three</option>
                            <option>Location Four</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>All Types</option>
                            <option>Types One</option>
                            <option>Types Two</option>
                            <option>Types Three</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>Area(sqft)</option>
                            <option>800(sqft)</option>
                            <option>1200(sqft)</option>
                            <option>1600(sqft)</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>No. of Bedroom</option>
                            <option>1 Bedroom</option>
                            <option>2 Bedroom</option>
                            <option>3 Bedroom</option>
                            <option>4 Bedroom</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <select class="nice-select">
                            <option>No. of Bathroom</option>
                            <option>1 Bathroom</option>
                            <option>2 Bathroom</option>
                            <option>3 Bathroom</option>
                            <option>4 Bathroom</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <div id="price-range"></div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-25">
                        <input type="submit" value="search">
                    </div>

                    <div class="col-lg-12">
                        <div class="add-link-wrap">
                            <a class="filter-active" href="#">+ Advanced Search</a>
                        </div>

                    </div>
                    <div class="col-lg-12 filter-wrapper">
                        <div class=" row">
                            <div class="col-lg-3 col-md-6 col-12 ">
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Property ID</a></div>
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Garages</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 ">
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Air Conditioning</a></div>
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Emergengy Exit</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 ">
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Swimming Pool</a></div>
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Fire Alarm</a></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 ">
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">Keywords</a></div>
                                <div class="single-check__box mt-30"><input type="checkbox"><a href="#">GYM</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
<!-- Search Section End -->