<div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="title__head">
            <h2 class="text-center">
                Nouveau
            </h2>
            {# <p class="text-center text-capitalize">handpicked exclusive properties by our team.</p> #}

        </div>
    </div>
    <div class="clearfix"></div>
</div>