<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ilehya Property Benin Service">
    <meta name="keywords" content="Gestion immobilière, Construction, Maison à vendre, Appartement meublé, Location"/>
    <meta name="author" content="">
    <title>ILEHYA Property Bénin Service {% block titre %} - {% endblock %}</title>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="manifest" href="site.webmanifest">
    <!-- favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="icon.png">
    <meta name="theme-color" content="#3454d1">
    <link href="{{ asset('FrontEnd/house/css/styles.css') }}" rel="stylesheet">
    <style>
    .topbar {

    background: linear-gradient(90deg, #0f3f60 0%, #3454d1 61%, #009fff 100%); adding: 0;
    min-height: 50px;
    color:"#fff";
}
.topbar-link {
 color:"#fff" !important;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
    .topbar .topbar-right .topbar-link {
       font-size:14px;
       text-align: left;
       margin:9px;
           color:"#fff";

    }
}
    </style>

{% block style%}


{% endblock %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJWQR31VCC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FJWQR31VCC');
    </script>
</head>
<body>
<!-- HEADER -->
        {% include 'FrontEnd/partials/top_nav_bar.html.twig' %}

    {% block navbar %}
        {% include 'FrontEnd/partials/_navbar.html.twig' %}

    {% endblock %}
    <!-- NAVBAR -->

    <!-- END NAVBAR -->
{#</header>#}
<!-- END HEADER -->
{% block content %}
{% endblock %}
<!--
CAROUSEL -->


<!-- Footer  -->
{% include 'FrontEnd/partials/_footer.html.twig' %}
<!-- SCROLL TO TOP -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TO TOP -->

<script type="text/javascript" src="{{ asset('FrontEnd/house/js/index.bundle.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>

</html>
