<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Derniéres annonces
                    </h2>
                    <p class="text-center text-capitalize">Retrouvez les dernieres annonces.</p>

                </div>
            </div>
        </div>

        <!--=========================================
=            Section Gallery two            =
==========================================-->
        <div class="card__image-filter">
            <div class="filterizr-control">
                <ul class="list-inline filterizr-filter">
                    <li class="list-inline-item btn-filter" data-filter="all">Tous les biens</li>
                    <li class="list-inline-item btn-filter" data-filter="3">A Acheter</li>
                    <li class="list-inline-item btn-filter" data-filter="1">A louer</li>
                    <li class="list-inline-item btn-filter filtr-active" data-filter="2">A vendre</li>
                </ul>
            </div>

            <div class="row">
                <div class="filtr-container"
                     style="padding: 0px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 319px;">
                    <div class="col-md-4 col-lg-3 filtr-item" data-category="2" data-title=""
                         style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 285px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">


                        <div class="card__image card__box-v1">
                            <div class="card__image-header h-250">
                                <div class="ribbon text-capitalize">featured</div>
                                <div class="info"> A vendre</div>
                            </div>
                            <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        Maison</span>
                                <h6 class="text-capitalize">
                                    <a href="/1">
                                        Maison bel étage 7 chambres, avec terrain de 8 ares.
                                    </a>
                                </h6>

                                <p class="text-capitalize">
                                    <i class="fa fa-map-marker"></i>
                                    Agla, azeazeaz
                                </p>
                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> 1
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> 1
                                            </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__image-footer">

                                <ul class="list-inline my-auto ml-auto">
                                    <li class="list-inline-item">

                                        <h6>
                                            966 666 666 Cfa


                                        </h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 filtr-item" data-category="2" data-title=""
                         style="opacity: 1; transform: scale(1) translate3d(285px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 285px; transition: all 0.5s ease-out 1ms, width 1ms ease 0s;">


                        <div class="card__image card__box-v1">
                            <div class="card__image-header h-250">
                                <div class="ribbon text-capitalize">featured</div>
                                <img alt="" class="img-fluid w100 img-transition" src="/images/immobiliers/">


                                <div class="info"> A vendre</div>
                            </div>
                            <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        Appartement</span>
                                <h6 class="text-capitalize">
                                    <a href="/4">
                                        Ixelles - Louise - Jardin du Roi
                                    </a>
                                </h6>

                                <p class="text-capitalize">
                                    <i class="fa fa-map-marker"></i>
                                    wome, azeazeazaaaa
                                </p>
                                <ul class="list-inline card__content">
                                </ul>
                            </div>
                            <div class="card__image-footer">

                                <ul class="list-inline my-auto ml-auto">
                                    <li class="list-inline-item">

                                        <h6>
                                            800 000 Cfa


                                        </h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 filtr-item filteredOut" data-category="1" data-title=""
                         style="opacity: 0; transform: scale(0.5) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 285px; transition: all 0.5s ease-out 2ms, width 1ms ease 0s; z-index: -1000; display: none;">


                        <div class="card__image card__box-v1">
                            <div class="card__image-header h-250">
                                <div class="ribbon text-capitalize">featured</div>
                                <img alt="" class="img-fluid w100 img-transition"
                                     src="/images/immobiliers/file_1532009319_4959174.jpg">


                                <div class="info"> Location saisonnière</div>
                            </div>
                            <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        Maison</span>
                                <h6 class="text-capitalize">
                                    <a href="/5">
                                        Bois Saint-Jean 79A
                                    </a>
                                </h6>

                                <p class="text-capitalize">
                                    <i class="fa fa-map-marker"></i>
                                    Agla, azeazeazaaaaa
                                </p>
                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> 1
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> 2
                                            </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__image-footer">

                                <ul class="list-inline my-auto ml-auto">
                                    <li class="list-inline-item">

                                        <h6>

                                            35 000 Cfa/mois

                                        </h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 filtr-item" data-category="2" data-title=""
                         style="opacity: 1; transform: scale(1) translate3d(570px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 285px; transition: all 0.5s ease-out 3ms, width 1ms ease 0s;">


                        <div class="card__image card__box-v1">
                            <div class="card__image-header h-250">
                                <div class="ribbon text-capitalize">featured</div>
                                <img alt="" class="img-fluid w100 img-transition"
                                     src="/images/immobiliers/6019447376724_big.jpg">


                                <div class="info"> A vendre</div>
                            </div>
                            <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">
                                        Maison</span>
                                <h6 class="text-capitalize">
                                    <a href="/6">
                                        Appartement à vendre Au cœur du quartier universitaire !
                                    </a>
                                </h6>

                                <p class="text-capitalize">
                                    <i class="fa fa-map-marker"></i>
                                    Dodji, rue du marche
                                </p>
                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">
                                            <span>
                                                Douche <br>
                                                <i class="fa fa-bath"></i> 8
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Chambres <br>
                                                <i class="fa fa-bed"></i> 8
                                            </span>
                                    </li>
                                    <li class="list-inline-item">
                                            <span>
                                                Salon <br>
                                                <i class="fa fa-inbox"></i> 9
                                            </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__image-footer">

                                <ul class="list-inline my-auto ml-auto">
                                    <li class="list-inline-item">

                                        <h6>
                                            580 000 Cfa


                                        </h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

</section>
</body>
</html>