{% extends 'FrontEnd/base.html.twig' %}
{% block content %}
    {% include 'FrontEnd/partials/_carousel.html.twig' %}
    <!-- END CAROSUEL -->
    <div class="clearfix"></div>

    {% include 'FrontEnd/partials/_recherche.html.twig' %}

    <!-- FEATURED PROPERTIES -->
    {% include 'FrontEnd/partials/_featured.html.twig' %}
    <!-- END FEATURED PROPERTIES -->

    <!-- Call To action -->
    {% include'FrontEnd/partials/_call-to-action-1.html.twig' %}

    <!-- NOUVEAUTE PROPERTIES -->
    {% include 'FrontEnd/partials/_recent_property.html.twig' with {'nature_annonce': 'à louer'} %}
    <!-- END NOUVEAUTE PROPERTIES -->

    <!-- Call To action -->
    {% include'FrontEnd/partials/_call-to-action-1.html.twig' %}

    <!-- NOUVEAUTE PROPERTIES -->
    {% include 'FrontEnd/partials/_recent_property.html.twig' with {'nature_annonce': 'à vendre'} %}

    <!-- Call To action -->
    {% include'FrontEnd/partials/_call-to-action-1.html.twig' %}

    <!-- ABOUT -->
    {% include 'FrontEnd/partials/_about.html.twig' %}

    <!-- OUR PARTNERS -->
    {% include 'FrontEnd/partials/_partners.html.twig' %}


{% endblock %}